  </div>

  <footer id="contact">
    <div class="wrapper">
      <div class="grid">
        <!-- footer stuff -->
        <div id="copyright" class="grid-cell">&copy; Kris van der Ven - Oktober 31, 2013</div>
        <!-- @include _social -->
      </div>
    </div>
  </footer>

  <div id="modals" class="hidden">
    <div id="modal--contact" class="modal">
        <form id="form--contact" data-forge-name="contact">
          <input type="text" data-forge-name="email" placeholder="Enter your email address">
          <textarea data-forge-name="message" placeholder="Enter a message"></textarea>
        </form>
        <button type="submit" form="form--contact" value="Submit">Submit</button>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

  <!-- @javascript detectmobilebrowser -->
  <!-- @javascript application -->

</body>
</html>