.content {
  h1 { font-size: 1.5em; margin: 0 0 .75em; }
  h2 { font-size: 1.35em; margin: 0 0 .75em; }
  h3 { font-size: 1.15em; margin: 0 0 .75em; }
  p, ul, ol { margin: 0 0 1.425em; }

  .lightBox {
    text-decoration: none;
  }

  .section-header {
    @include clearfix;
    margin-bottom: 3em;
    h2 {
      padding: 1em 0 .5em;
      margin: 0 .75em;
      text-align: right;
      font-size: .825em;
      color: $shade7;
      text-transform: lowercase;
      font-weight: normal;
      border-bottom: 1px solid $shade2;
    }
  }
}