/* Write your CSS! */

@import "variables";
@import "grid";
@import "typography";

html {
  height: 100%;
}

body {
  background: #fff;
  color: $text-color;
  font-family: $font-family;
  line-height: $line-height;
  font-size: $base;

}

h1, h2, h3, h4 {
  margin: 0 0 .425em;
  font-family: $font-family-headings;
  line-height: $line-height-headings;
}

a {
  color:  $link-color;
  &:visited {
    color: $link-color-visited;
  }
  &:hover {
    color: $link-color-active;
  }
}

.shadedBG {
  @include linear-gradient(#feffff, $shade0);
  border-bottom: 1px solid $shade1;
}

.mobile {
  display: block;
}

header {
  &.grid { padding: 3.5em 0 3em;}
  .vcard {
    margin-top: 1.15em;
    text-align: left;
  }
  .beautifull-me {
    text-align: center;
    img {
      width: fixed(2);
      padding: 1px;
      vertical-align: bottom;
      border-radius: 50%;

      background: #fff;
    }

  }
  h1 {
    color: $link-color-active;
    font-size: 2em;
    text-align: center;

    text-shadow: 0px 1px 1px #fff;
    filter: dropshadow(color=#fff, offx=0, offy=1);

    a {
      text-decoration: none;
      color: $link-color-active;
      &:visited {
        color: $link-color-active;
      }
      &:hover {
        color: $link-color-active;
      }
    }
  }
  h2 {
    font-size: .9em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: $text-color-subheadings;

    text-shadow: 0px 1px 1px #fff;
    filter: dropshadow(color=#fff, offx=0, offy=1);
  }
  h3 {
    font-size: .9em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: $text-color-subheadings;

    margin-bottom: 3em;

    text-shadow: 0px 1px 1px #fff;
    filter: dropshadow(color=#fff, offx=0, offy=1);
  }
  p {
    font-size: .9em;
  }
}

#main-nav {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  // @include linear-gradient(#fff, $shade0);
  background: #1c2025;
  background: rgba(#1c2025, .95);
  box-shadow: 0 4px 4px -4px rgba(#000,.35);
  .connect {
    display: none;
  }
  .mobile {
    display: inline-block;
  }
}

nav, .connect {
  ul {
    margin: 0; padding: 0;
    text-align: center;
  }
  li {
    display: inline-block;
    padding: .5em.5em;
  }
  a {
    display: block;
    color: $shade1;
    padding: .25em .75em;
    font-size: 1em;
    text-decoration: none;
    &:visited {
      color: $shade1;
    }
    &:hover {
      color: $link-color;
    }
  }
}

nav {
  li {
    &.active {
      a {
        -webkit-box-shadow: #2a2e30 0 1px 0;
        -moz-box-shadow: #2a2e30 0 1px 0;
        box-shadow: #2a2e30 0 1px 0;
        background-color: darken($background-color, 8%);
        color: #fff;
        border-radius: 3px;
      }
    }
  }
  a {
    font-size: .75em;
    text-transform: lowercase;
    font-weight: normal;
  }
}

.connect {
  a {
    text-decoration: none;
  }
}

footer .connect {
  a {
    color: $text-color;
    &:visited {
      color: $text-color;
    }
    &:hover {
      color: $link-color;
    }
  }
}

#copyright {
  text-align: center;
  padding-top: .75em;
}

#main {
  margin-top: 50px;
}

.project {
  @include clearfix;
  padding: 3em 0;
  dl {
    font-size: .75em;
  }
  dt, dd {
    vertical-align: top;
    display: inline-block;
  }
  dt {
    width: 12%;
    min-width: 65px;
    font-weight: bold;
  }
  dd {
    margin: 0;
    width: 84%;
    span {
      display: inline-block;
      white-space: nowrap;
      margin: 0 .25em .25em 0;
      padding: 0 .5em;
      background: #efefef;
      line-height: 1.75em;
      color: #000;
      border-radius: 3px;
    }
    .content & a {
      display: inline-block;
      padding: 0 .15em;
      text-decoration: underline;
    }
  }
}

.content .clients {
  @include clearfix;
  display: block;
  margin: 0 0 3em; padding: 0;

  h3 {
    margin: 0 .6em 2em;
    border-bottom: 1px dotted $shade2;
    padding-bottom: .25em;
    text-align: left;
    color: $shade5;
    font-weight: normal;
  }
  .grid-cell {
    background: #fff;
    text-align: center;
    border: 0 none;
  }
  img {
    opacity:0.75;
    filter:alpha(opacity=75); /* For IE8 and earlier */
    border: 0 none;
  }
}

section {
  min-height: 400px;
}

footer {
  @include linear-gradient($shade0, #fff);
  border-top: 1px solid $shade1;
  padding: .5em 0;
}

.fancybox-title-inside-wrap {
  padding: 0 0 1em;
  text-align: center;
  font-size: .875em;
  font-family: $font-family;
}

.fancybox-nav {
    width: 60px;
}

.fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-next {
    right: -70px;
}

.fancybox-prev {
    left: -70px;
}

#modals {
  display: none;
}


/* create 8 column layout with sidebar */
@include breakpoint(8, $label: 'tablet') {
  .mobile {
    display: none !important;
  }
  .grid-cell {
    margin: 0 .5 * em($grid-gutter);
  }
  .vcard {width: fixed(6);}
  .beautifull-me {width: fixed(2);};
  nav, #copyright {
    width: fixed(5) !important;
    text-align: left;
    ul {
      text-align: left;
    }
    li {
      padding: .5em 1em .5em 0 ;
    }
  }
  .connect {
    width: fixed(3); text-align: right;
    #main-nav & {
      display: block;
    }
    li {
      padding: .5em 0 .5em .75em;
    }
  }
  .content .clients {
    .grid-cell {
      width: fixed(2);
    }
  }
  header {
    h1, h2, h3, .beautifull-me {
      text-align: left;
    }
    h1 {
      font-size: 2.25em;
    }
    h2 {
      font-size: 1.2em;
    }
  }
}

/* create 12 column layout with sidebar */
@include breakpoint(12, $label: 'desktop') {
  .vcard {width: fixed(10);}
  nav, #copyright {width: fixed(9) !important;}
  .connect { width: fixed(3);}
  .project {
    figure {width: fixed(7);}
    .summary {width: fixed(5); float: right;}
  }
  .content .clients {
    .grid-cell {
      width: fixed(3);
    }
  }
}