<div class="clients">
  <h3>I'm currently working on projects for:</h3>
  <div class="grid-cell"><img src="<!-- @path Interpolis-logo.png -->" alt=""></div>
  <div class="grid-cell"><img src="<!-- @path rabobank-logo.png -->" alt=""></div>
</div>

<div class="clients">
  <h3>In the past I have worked on projects for:</h3>
  <div class="grid-cell"><img src="<!-- @path nedap.png -->" alt=""></div>
  <div class="grid-cell"><img src="<!-- @path newpeople-logo.png -->" alt=""></div>
  <div class="grid-cell"><img src="<!-- @path goyer_logo.png -->" alt=""></div>
  <div class="grid-cell"><img src="<!-- @path gemeente-amsterdam.png -->" alt=""></div>
  <div class="grid-cell"><img src="<!-- @path batavia-stad.png -->" alt=""></div>
  <div class="grid-cell"><img src="<!-- @path gemeente-rotterdam.png -->" alt=""></div>
  <div class="grid-cell"><img src="<!-- @path de-windcentrale.png -->" alt=""></div>
</div>