<article class="project">
  <div class="summary grid-cell">
    <h1>Batavia Stad Newsletter</h1>
    <p>
      <strong>A system to send out customizable and personal newsetters to subscribed users, maintained from the CMS.</strong>
    </p>
    <p>
      The websites CMS was used to build a newsletter from current offers, news postings and upcomming events. After a newsletter was build, Mailchimp was used to make the newsletter personal and include a BMmember savings balance.
    </p>
    <p>
      The system consisted of:
    </p>
    <ul>
      <li>A CMS section to build modular newsletters;</li>
      <li>A hook into the Batavia Stad BMember program;</li>
      <li>Building blocks for a newsletter; and</li>
      <li>Mailchimp for maintaining subscriptions.</li>
    </ul>
  </div>
  <figure class="grid-cell">
    <img src="<!-- @path newsletter.png -->" alt="">
    <dl>
      <dt>activities:</dt>
      <dd><span>brainstorming</span> <span>research</span> <span>prototypes</span> <span>HTML/ Css (<a href="<!-- @path newsletter_admin_backup.html -->" rel="batavia_stad_newsletter" title="html/ css: admin interface newsletter" class="lightBox" data-fancybox-type="iframe">1</a>, <a href="<!-- @path newsletter_backup.html -->" rel="batavia_stad_newsletter" title="html/ css: newsletter as send" class="lightBox" data-fancybox-type="iframe">2</a>)</span></dd>
    </dl>
  </figure>
</article>