<article class="project">
  <div class="summary grid-cell">
    <h1>Interpolis Grip</h1>
    <p>
      <strong>After a risk assessment, the client get's a report. What is the next step?</strong>
    </p>
    <p>
      This pilot is to find out, what the user needs to fulfill the To-Do's which follow a risk assessment. And how Interpolis can help the client to achieve better results.
    </p>
    <p>
      For inspiration I looked into an <a href="https://medium.com/design-ux/bc190d62eff5">article</a> on medium by Mikkel Bo Schmidt. And I made the concept of sliding panels part of my Wireframes.
    </p>
  </div>
  <figure class="grid-cell">
    <img src="<!-- @path grip-ipad.png -->" alt="">
    <dl>
      <dt>activities:</dt>
      <dd><span>concepting</span> <span>research</span> <span>wireframes (<a href="<!-- @path ToDoView.png -->" rel="Grip" title="wireframe: ToDo view" class="lightBox">1</a>, <a href="<!-- @path ToDoView-DueDate.png -->" rel="Grip" title="wireframe: Set due date" class="lightBox">2</a>, <a href="<!-- @path ToDoView-Planned.png -->" rel="Grip" title="wireframe: Visualisation ToDo's" class="lightBox">3</a>)</span> <span>agile</span>
    </dl>
  </figure>
</article>