<article class="project">
  <div class="summary grid-cell">
    <h1>RizK &amp; RisiGo</h1>
    <p>
      <strong>Interpolis started these projects toghether with Rabobank, to get a grip on riskmanagement.</strong>
    </p>
    <p>
      RizK and RisiGo are a platform to give clients insight in their own current risk situation and showing what measures and insurances they can take to minimise the change and impact.
    </p>
    <p>The platforms consists of:</p>
    <ul>
      <li>A webapplication for the backoffice;</li>
      <li>A iPad app for the riskmanager to catalog the clients risk; and</li>
      <li>A personal report with the riskmanagers findings</li>
    </ul>
  </div>
  <figure class="grid-cell">
    <img src="<!-- @path ipad.png -->" alt="">
    <dl>
      <dt>activities:</dt>
      <dd><span>brainstorming</span> <span>research</span> <span>flowcharts (<a href="<!-- @path omzetcijfers_ratio.png -->" rel="rizk_risigo" title="flowchart: client anual turnover" class="lightBox">1</a>)</span> <span>prototypes (<a href="<!-- @path prototype_ipad.png -->" rel="rizk_risigo" title="prototype: risk managers iPad app" class="lightBox">1</a>, <a href="<!-- @path prototype_analytics.html -->" rel="rizk_risigo" title="prototype: RiZK/ RisiGo analytics" class="lightBox" data-fancybox-type="iframe">2</a>)</span> <span>HTML/ Css (<a href="<!-- @path omzetcijfers_ratio_html_css.png -->" rel="rizk_risigo" title="html/ css: client anual turnover" class="lightBox">1</a>)</span></dd>
    </dl>
  </figure>
</article>