<article class="project">
  <div class="summary grid-cell">
    <h1>Nudge Profielen</h1>
    <p>
      <strong>Strengthen the Nudge community by bringing them in contact with each other.</strong>
    </p>
    <p>
      Concept for improving the sustainability awareness for a individual Nudger, by:
    </p>
    <ol>
      <li>Giving him/ her the oppurtunity to connect with other Nudgers with the same interests.</li>
      <li>Comparing yourself to other Nudgers on various sustainability topics.</li>
    </ol>
  </div>
  <figure class="grid-cell">
    <img src="<!-- @path profiles.png -->" alt="">
    <dl>
      <dt>activities:</dt>
      <dd><span>concepting</span> <span>research</span> <span>wireframes (<a href="<!-- @path nudge-buurtburgemeester.pdf -->" rel="Nudge" title="wireframe: concept wireframes" class="lightBox" data-fancybox-type="iframe">1</a>)</span>
    </dl>
  </figure>
</article>