<article class="project">
  <div class="summary grid-cell">
    <h1>Rabobank Jongeren</h1>
    <p>
      <strong>A tool to give youngsters insight in their spending patterns.</strong>
    </p>
    <p>
      For this project we got a couple of excel sheets with the assignment to make something out of this. So we got started.
    </p>
    <p>
      After a couple of iterations, some different concepts, we agreed on the final product. A tool where youngsters can see what the average spending is for different situations. With the addition of some fun comparisons.
    </p>
  </div>
  <figure class="grid-cell">
    <img src="<!-- @path rabo_jongeren.png -->" alt="">
    <dl>
      <dt>activities:</dt>
      <dd><span>concepting</span> <span>data analysis (<a href="<!-- @path rj_data.png -->" rel="rabo_jongeren" title="Data analysis" class="lightBox">1</a>) </span> <span>flowchart (<a href="<!-- @path rj_flowchart.png -->" rel="rabo_jongeren" title="Flowchart" class="lightBox">1</a>) </span> <span>wireframes (<a href="<!-- @path rj_subcategorie.png -->" rel="rabo_jongeren" title="wireframe: Subcategory" class="lightBox">1</a>, <a href="<!-- @path rj_fun_facts.png -->" rel="rabo_jongeren" title="wireframe: compare data" class="lightBox">2</a>)</span> <span>HTML/ Css</span>
    </dl>
  </figure>
</article>